* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #edeeee;
}

.nav-left img {
  height: 40px;
}

.nav-center {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-center a {
  text-decoration: none;
  color: rgb(11, 11, 11);
  font-weight: 400;
}

.nav-center a:hover {
  color: #0ac9ad;
}

.primary-btn {
  padding: 10px 20px;
  background-color: #02927c;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  display: flex;

}

.primary-btn:hover {
  background-color: #08a18d;
}


.banner {
  height: 90vh;
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-content {
  color: white;
  max-width: 600px;
}

.banner-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.banner-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.secondary-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.secondary-btn:hover {
  background-color: white;
  color: #0b1d2a;
}
.btn img {
  height: 15px;
  width: auto;
}

.banner-content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f1f4f5;
  margin: 0 0 10px 0;
  line-height: 1.2;
  letter-spacing: -1px;
}

.banner-content h2 {
  font-size: 52px;
  font-weight: 750;
  color: #018f60;
  margin: 0 0 20px 0;
  line-height: 1.3;
}

.banner-content p {
  font-size: 15px;
  color: #d1d5db;
  margin: 0 0 30px 0;
  line-height: 1.6;
}


.notes {
  padding: 80px;
  text-align: center;
}

.notes h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.notes p {
  color: #555;
  font-size: 10px;
}

.notes-cards {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: #f8f9fb;
  padding: 30px;
  border-radius: 12px;
  flex: 1;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.icon.Vector { background: #e3470e; }
.icon.Bookmarks { background: #e3470e; }
.icon.Brain { background: #e3470e; }
.icon.Info { background: #e3470e; }